.form-check-input {
  width: 1.5em !important;
  height: 1.5em !important;
  /* You can use transform for scaling as well */
  /* transform: scale(1.5); */
}

.survey-radio-parent > * {
    height: 1.5em !important;
    height: 1.5em !important;
}
