.form-check-input {
  width: 1.5em;
  height: 1.5em;
  /* You can use transform for scaling as well */
  /* transform: scale(1.5); */
}

.survey-radio-parent > * {
    height: 1.5em; /* styles for all direct children of parent-class */
  height: 1.5em;
}
